<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>代辦事項</h1>
    <input type="text" id="content" name="content">
    <input type="submit" id="send" value="送出">

    <ul id="list">
      <% for( let index in todoList ) { %>
        <li> <%- todoList[index].content %> 
          <input type="submit" value="刪除" data-id='<%= index %>'>
        </li>
      <% } %>
    </ul>


    <script src="/javascripts/index.js"></script>
</body>
</html>
